html {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
}

ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

nav {
    background-color: #315062;
}

.dp-flex {
    display: flex;
}

.dp-flex-fldir-row {
    display       : flex;
    flex-direction: row;
}

.header-ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {

    header {
        margin-bottom   : 1vh;
        background-color: #2F6E91;
    }

    .header-head {
        padding        : 2vh;
        display        : flex;
        flex-direction : row;
        flex-wrap      : nowrap;
        justify-content: space-between;
    }

    .burger-menue {
        margin-right   : 1vh;
        display        : flex;
        justify-content: space-between;
        flex-direction : column;
        height         : 25px;
        width          : 25px;
    }

    .burger-menue.header-nav-show {
        transform: rotate(90deg);
    }

    .burger-span {
        display         : block;
        width           : 100%;
        height          : 3px;
        background-color: white;
    }

    .spacer {
        display: block;
        height : 1px;
        width  : 1px;
    }

    .header-nav {
        padding: 2vh;
        display: none;
    }

    .header-nav-show {
        color         : white;
        font-size     : 1.2rem;
        padding       : 1vh;
        display       : flex;
        flex-direction: column;
    }

    .header-nav-listitem {
        margin-top: 1vh;
    }

    .trending {
        background-color: #EDEDED;
        display         : flex;
        margin          : 3vh 2vh 0 2vh;
        padding         : 1vh;
        justify-content : space-between;
    }

    .trending-h {
        font-size     : 1rem;
        font-weight   : bold;
        width         : 25%;
        text-transform: uppercase;
        color         : hotpink;

    }

    .trending-ul {
        margin-left    : 1vh;
        overflow-x     : scroll;
        display        : flex;
        justify-content: space-around;
        width          : 70%;
    }

    .trending-ul::-webkit-scrollbar {
        height          : 5px;
        border-radius   : 10px;
        background-color: #EDEDED;
    }

    .trending-ul::-webkit-scrollbar-thumb {
        height            : 5px;
        width             : 30px;
        border-radius     : 2px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color  : hotpink;
    }

    .trending-item {
        white-space: nowrap;
        margin     : 0 1vh 0 1vh;
    }


    main {
        order           : 2;
        height          : 50vh;
        background-color: #EDEDED;
        margin-bottom   : 2vh;
    }

    .main-img {
        height: 60%;
        width : 100%;
    }

    .main-h {
        margin       : 0.2vh 0 0 0;
        padding-left : 1vh;
        padding-right: 1vh;
    }

    .main-p {
        margin-top   : 0.2vh;
        padding-left : 1vh;
        padding-right: 2vh;
    }

    aside {
        order        : 1;
        margin-top   : 1vh;
        padding      : 1vh;
        margin-bottom: 4vh;
    }

    .aside-header {
        border-top     : lightgray 1px solid;
        display        : flex;
        justify-content: space-between;

    }

    .aside-h {
        width      : 90%;
        font-weight: bold;
        font-size  : 0.9rem;
    }

    .aside-item {
        color      : #333;
        font-weight: bold;
        font-size  : 1.1rem;
        border-top : lightgray 1px solid;
    }

    footer {
        background-color: gray;
        color           : white;
        padding         : 3vh;
    }

    .footer-p1 {
        margin : 0;
        padding: 0;
    }

    .footer-links {
        margin-top    : 2vh;
        padding-bottom: 2vh;
        margin-bottom : 2vh;
        border-top    : 1px white solid;
        border-bottom : 1px white solid;
        display       : flex;
        align-items   : center;
        flex-direction: column;
    }

    .footer-p {
        margin-top: 2vh;

    }

    .container {
        padding-right: 2vh;
        padding-left : 2vh;
    }

    .card {
        background-color: #EDEDED;
        height          : 15vh;
        display         : flex;
        justify-content : space-between;
        margin-bottom   : 2vh;
    }

    .card-img {
        height: auto;
        width : 45%;
    }

    .card-p {
        width        : 50%;
        margin-top   : 0.2vh;
        padding-left : 1vh;
        padding-right: 1vh;
    }

    .dp-flex_dir-colum {
        display       : flex;
        flex-direction: column;
    }
}

.aside-svg {
    padding-top: 1vh;
    width      : 30px;
    height     : 30px;
}

header {

}